*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bolder;
}

.container{
    background-color: #000000bd;
    display: flex;
    flex-direction: column;
    width: 254px;
    height: 410px;
    border: 5px solid black;
}

.display{
    flex: 0.16;
    font-size: 52px;
    padding: 10px;
    align-self: flex-end;
}

.buttons{
    flex: 0.84;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button{
    width: 58px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    border: 0;
    font-weight: bolder;
    color: white;
}
.number{
    background-color: blue;
}

#zero{
    width: 120px;
}
.operator{
    background-color: orange;
}

.equals{
    background-color: lightgray;
}

.clear, .clearEntry, .decimal{
    background-color: lightgray;
}

.clear{
    width: 120px;
}